body {
  font-size: 14px;
}
.form-material .form-control {
  height: 35px;
  font-size: 14px;
}
body[themebg-pattern="theme1"] {
  background: #FAFAFA;
}
.login-block .auth-box {
  margin: 30px auto 0 auto;
  max-width: 400px;
}
.user-login,.password-login,.username-register,.email-register,.password-register,.confirm-password-register {
  margin-bottom: 30px;
}
.button-login,.button-register,.button-connection {
  line-height: 15px;
}
.icons-alert:before {
  top: 12px !important;
  left: -32px !important;
}
.form-download {
  min-width: 700px;
}

.form-download .title-install{
  text-transform: uppercase;
  font-weight: bold;
}
.form-download .step {
  margin-bottom: 8px;
}
.download-file {
  text-align: center;
}
.download-file a {
  margin-top: 35px;
}
.form-download .alert {
  margin-bottom: 20px;
}
.form-download .step b{
  font-weight: bold;
}
.form-setup-profile .bootstrap-tagsinput {
  line-height: 25px;
  width: 100%;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc !important;
}
.btn-click {
  padding-top: 6px;
  padding-bottom: 6px;
}

.addrow {
  margin-bottom: 10px;
}

.item-comment {
  margin-bottom: 10px;
}
.range-slider {
  margin-left: 0px;
}
.group_profile p {
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.group_profile p {
  border-top: 1px solid #dedede;
    padding-top: 15px;
}
.button-connection {
  margin: 0 auto;
}
#connection-form label {
  font-weight: bold;
}
.error {
    margin-top: 5px;
    color: red;
}
.nav-left li {
  padding: 0 10px !important; 
}

.disabled-button {
    opacity: 0.2 !important;
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
    /* z-index: 999999; */
    display: none;
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

.flash-sucess {
  display : none;
  background-color: #04ce04;
  border-color: #2ed8b6;
  color: #fff;
}

.flash-error {
  display : none;
  background-color: red;
  border-color: red;
  color: #fff;
}

